version: '3.1'
services:
  springboot:
    image: dockerhandson/maven-web-app:$BUILD_NUMBER
    restart: always
    ports:
    - 9090:8080
    networks:
    - mavenappbridge
networks:
  mavenappbridge:
